<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span class="glyphicon glyphicon-music"></span>
            <span>Track List</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <!-- build a component for this -->
                <div ng-repeat="track in TracksCtrl.tracks" class="card">
                    <div class="card-block track-block">
                        <h4 class="card-title">{{ track.name }}</h4>
                        <div class="glyphicon-container">
                            <span ng-click="TracksCtrl.toggleTrackDetail(track)"
                                  ng-hide="track.show"
                                  class="glyphicon glyphicon-info-sign">
                            </span>
                            <span ng-click="TracksCtrl.toggleTrackDetail(track)"
                                  ng-show="track.show"
                                  class="glyphicon glyphicon-remove">
                            </span>
                        </div>
                        <div class="card-text" ng-show="track.show">
                            <div id="album-info" ng-show="track.album">

                                <h6 class="card-subtitle text-muted">Album:</h6>
                                <p class="small">{{ track.album }}</p>
                            </div>
                            <div class="description-info" ng-show="track.description">
                                <h6 class='card-subtitle text-muted'>Description:</h6>
                                <p class="small">{{ track.description }}</p>
                            </div>
                        </div>
                        <audio controls>
                            <source src="{{ track.url }}">
                        </audio>
                    </div>
                </div>
            </div>

            <h3 class="text-center" ng-show="TracksCtrl.tracks.length == 0">You don't have any uploaded any tracks!</h3>

            <button class="btn btn-info btn-sm upload-btn pull-right"
                    ng-click="TracksCtrl.toggleUploadForm()"
                    ng-hide="TracksCtrl.showUploadForm">
                <span class="glyphicon glyphicon-upload"></span>
                <span>upload new track</span>
            </button>


            <div class="col-sm-5 col-sm-offset-1">

                <div class="panel panel-default" ng-show="TracksCtrl.showUploadForm">
                    <div class="panel-heading">
                        <h4 class="panel-title">Upload New Track</h4>
                    </div>

                    <div class="panel-body">
                        <form enctype="multipart/form-data" class="track-upload-form">
                            <div class="form-group">
                                <input type="file" id="track-upload">
                            </div>

                            <div class="form-group" ng-show="!!TracksCtrl.artist.albums && TracksCtrl.artist.albums.length > 0">
                                <label for="album">Album</label>
                                <select ng-options="album for album in TracksCtrl.albums"
                                        ng-model="TracksCtrl.trackInfo.album">
                                </select>
                                <!--<input class='form-control input-sm' type="text" ng-model="TracksCtrl.trackInfo.album">-->
                            </div>

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class='form-control input-sm' type="text" ng-model="TracksCtrl.trackInfo.name">
                            </div>

                            <div class="form-group">
                                <label for="description">Track Description</label>
                                <textarea class='form-control input-sm' ng-model="TracksCtrl.trackInfo.description"></textarea>
                            </div>

                            <div class="form-group">
                                <button class='btn btn-info btn-sm' ng-click="TracksCtrl.uploadTrack()">
                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                    <span>upload</span>

                                </button>

                                <button class="btn btn-danger btn-sm upload-btn"
                                        ng-click="TracksCtrl.toggleUploadForm()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span>cancel</span>
                                </button>
                                {{ TracksCtrl.trackInfo }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
