
.image-upload-form {
    position: absolute;
    bottom: 80px;
    padding-top: 60%;
    padding-right: 60%;
    left: 30px;
    opacity: 0;
    transition: opacity .5s;
}

.image-upload-form:hover {
    opacity: 1;
}

.artist-name {
    white-space: nowrap;
}

.btn-sm {
    padding: 2px 8px;
}

#imageUploader {
    display:none;
}

.upload-btn {
    margin-right: 50px;
}

.track-upload-form {
    padding: 30px;
}


.track-block {
    margin-bottom: 40px;
    transition: box-shadow .2s;
}

.track-block:hover {
    box-shadow: 3px 3px 3px #8c8c8c;

}

.glyphicon-container{
    display: flex;
}

.glyphicon-container > span {
    margin-right: 10px;
}

.track-block .glyphicon-container {
    width: 20px;
    height: 20px;
    font-size: 16px;

}

.track-block .glyphicon-container .glyphicon:hover {
    color: #00b0ff;
}


.close {
    width: 20px;
    height: 20px;
}

.close > .glyphicon-remove:hover {
    font-size: 22px;
    color: #00b0ff;
}

.no-content {
    margin-bottom: 50px;
}