<!-- Doing bootstrap modal dialog box. Remove all this -->
<div class='modal fade' tabindex='-1' role='dialog' id='registerModal'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
                <h4 class='modal-title'>Register</h4>
            </div>
            <div class='modal-body'>

                <form ng-submit='RegisterCtrl.register()'>
                    <div class='form-group'>
                        <label for='email'>Email</label>
                        <input class='form-control input-sm' id='email' type="text" ng-model='RegisterCtrl.user.email'>
                    </div>

                    <!-- <div class='form-group'>
                        <label for='artist-name'>Artist Name</label>
                        <input class='form-control input-sm' id='artist-name' type="text" ng-model='RegisterCtrl.user.artistName'>
                    </div> -->

                    <div class='form-group'>
                        <label for='password'>Password</label>
                        <input class='form-control input-sm' id='password' type="text" ng-model='RegisterCtrl.user.password'>
                    </div>

                    <div class='form-group'>
                        <label for='password-retype'>Retype Password</label>
                        <input class='form-control input-sm' id='password-retype' type="text" ng-model='RegisterCtrl.user.passwordRetype'>
                    </div>

                    <div class='form-group'>
                        <button class='btn btn-primary btn-block' type='submit' ng-sumbit='RegisterCtrl.register()'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <div class=''>
        <a ng-click='RegisterCtrl.toggleRegistered()'>
            <span ng-show='RegisterCtrl.isRegistered'>Not Registered?</span>
            <span ng-hide='RegisterCtrl.isRegistered'>Registered!</span>
        </a>

        <div class='panel panel-info' ng-hide='RegisterCtrl.isRegistered'>
            <div class='panel-heading'>
                Hello from the Register Page!

            </div>

            <form class='panel-body'>
                <span class='glyphicon glyphicon-remove'></span>
                <div class='form-group'>
                    <label for='email'>Email</label>
                    <input class='form-control input-sm' id='email' type="text" ng-model='RegisterCtrl.email'>
                </div>

                <div class='form-group'>
                    <label for='artist-name'>Artist Name</label>
                    <input class='form-control input-sm' id='artist-name' type="text" ng-model='RegisterCtrl.artistName'>
                </div>

                <div class='form-group'>
                    <label for='password'>Password</label>
                    <input class='form-control input-sm' id='password' type="text" ng-model='RegisterCtrl.password'>
                </div>

                <div class='form-group'>
                    <label for='password-retype'>Retype Password</label>
                    <input class='form-control input-sm' id='password-retype' type="text" ng-model='RegisterCtrl.passwordRetype'>
                </div>
            </form>
        </div>
    </div>
</div> -->
