<!-- Doing bootstrap modal dialog box. Remove all this -->
<div class='modal fade' tabindex='-1' role='dialog' id='registerModal'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
                <h4 class='modal-title'>Register</h4>
            </div>
            <div class='modal-body'>

                <form ng-submit='RegisterCtrl.register()'>
                    <div class='form-group'>
                        <label for='email'>Email</label>
                        <input class='form-control input-sm' id='email' type="text" ng-model='RegisterCtrl.user.email'>
                    </div>

                    <div class='form-group'>
                        <label for='password'>Password</label>
                        <input class='form-control input-sm' id='password' type="password" ng-model='RegisterCtrl.user.password'>
                    </div>

                    <div class='form-group'>
                        <label for='password-retype'>Re-type Password</label>
                        <input class='form-control input-sm' id='password-retype' type="password" ng-model='RegisterCtrl.user.passwordRetype'>
                    </div>

                    <div class='form-group'>
                        <button class='btn btn-primary btn-block' type='submit' ng-sumbit='RegisterCtrl.register()'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
